
#izquierda{
    width: 40%;
    background: #777777;
    left: 0.4%;
    position: absolute;
    max-height: 100%;
    height: 90%;
}

#divContainerComponentes{
    width: 59%;
    border: 1px solid red;
    right: 0.4%;
    position: absolute;
    height: 90%;
    max-height: 100%;
}

#h1,#h2,#h3,span{
    border: 1px solid #333;
    font-size: 35px;
}