.container{
    width: 49.5%;
    border: 1px black solid;
    height: 100%;
    min-height: 150px;
}
.divsComponentes{
    display:none;
}

#divIzquierda{
    float: left;
}

#divDerecha{
    float: right;
}

#pieDeFormulario{
    border: 1px blue solid;
    min-height: 75px;
    width: 100%;
    bottom: 0;
}