#ahorcado{
  
    font-size: large;
}

#ahorcadoPorLetras{
    visibility: hidden;
    display: none;
    font-size: large;
}

.letras{
    margin: -0.18%;
}
body{
    background-color: #64C5F5;
}
.contenido{
    background: #F5EF4C;
    width: 90%;
    height: 90%;
    margin: 0 5% 5% 5%;
}

