
#genForm{
    display: none;
    nav{
        margin-top: 0.1em;
        .nav-item{
            margin:0.5em;
            margin-bottom: 0;
        }
        
    }
    #menuComponentesComplejos{
        display: none;
    }
    #propiedadesComponentes{
        display: none;
    }
    

}
.componente{
    border: 1px solid grey;
    margin: 1em;
    p{
        margin:0;
    }
    .btn .btn-primary{
        background-image: url();
    }
    .eliminar{
        float:right;
    }
}
