body {
    text-align: center;
}

/*Estilos para el div donde estaran originalmente*/
#contenedor{
    border: black 1px solid;
    width: 400px;
    min-height: 200px;
    margin:1.5em auto;
}

.arrastrables{
    width: 100px;
    height: 100px;
}

#rectangulo{
    width: 200px;
}


/*Estilos para el contedor de los "agujeros"*/
#tortuga{
  
    width: 400px;
    margin: 1.5em auto;
    /*Estos son los estilos por defecto que se aplican a todos los agujeros */
    .agujero{
        border: black 1px solid;
        width: 100px;
        height: 100px;
        margin: 0.2em ;
        float: left;
        &#agujeroCirculo{
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%; 
        }
        &#agujeroRectangulo{
            width: 200px;
        }
        &#agujeroTriangulo{
           border: 0px transparent;
           background-image: url("../imagenes/agujeroTriangulo.png");
        }
    }
}
